/* This is the style sheet.  It will style our page */

h1 {
    text-align: center;
    background-color: red;
}

h2 {
    text-align: center; 

}

.gameCounts {
    text-align: center;
    display: inline-block; left;
    background-color: green;
}

.word {
    text-align: center;
}

.availLetters {
    text-align: center;

}