/* This is the style sheet.  It will style our page */

h1 {
    text-align: center;
    background-color: red;
    margin: 0;
}

h2 {
    text-align: center; 
    margin: 0;

}

h3 {
    margin: 0;
}

body {
    display: grid;
    row-gap: 15px;
}
.grp1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gameCounts {
    text-align: center;
    background-color: green;
}
.gallows {
    height: 22px;
    width: 250px;
    background-color: brown;
}

.animationBox {
    position: relative;
}

/* .animationBox {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
} */

.head {
    height: 50px;
    width: 50px;
    background-color: peachpuff;
    border-radius: 50%;
    margin: 10px 0px 0px 200px;
}

.eye {
    position: fixed;
    height: 7px;
    width: 10px;
    /* background-color: blue; */
    border-radius: 50%;
}

.lefteye {
    margin: 15px 10px 5px 30px;
    background-color: gray;
}
.righteye {
    margin: 15px 15px 5px 10px;
    background-color: gray;
}

.torso {
    height: 80px;
    width: 10px;
    background-color: peachpuff;
    margin: 0px 15px 25px 220px;
}

.arm {
    height: 10px;
    width: 50px;
    top: 260px;
    left: 370px;
}

.arm1 {
    position: absolute;
    height: 10px;
    width: 45px;
    background-color: peachpuff;
    top: 110px;
    left: 230px;
}

.arm2 {
    position: absolute;
    height: 10px;
    width: 45px;
    background-color: peachpuff;
    top: 110px;
    left: 175px;
}

.leg1 {
    position: absolute;
    height: 60px;
    width: 10px;
    background-color: peachpuff;
    top: 160px;
    left: 210px;
}

.leg2 {
    position: absolute;
    height: 60px;
    width: 10px;
    background-color: peachpuff;
    top: 160px;
    left: 230px;
}

.noose {
    position: absolute;
    height: 65px;
    width: 10px;
    background-color: yellow;
    top: 22px;
    left: 190px;
}

.noose2 {
    position: absolute;
    height: 10px;
    width: 40px;
    background-color: yellow;
    top: 77px;
    left: 200px;
}

.word {
    text-align: center;
}

.availLetters {
    text-align: center;
}

.buttons {
    text-align: center;
}
.easyButton {
    background-color: rgb(175, 228, 175);
    margin-top: 5px;
}

.harderButton {
    background-color: rgb(233, 151, 151);
    margin-top: 5px;
}

.buttonGrp {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    }

/* .alphabetBtns {
 position: fixed;
right: 500px; 
text-align: left;
display: flex;
width: 20%;
height: auto;
flex-wrap: wrap;
justify-content: space-between;
grid template rows with 6 rows if do 6 rows of buttons
} */
.alphabetBtns {
    display: none;
}
