/* This is the style sheet.  It will style our page */

h1 {
    text-align: center;
    background-color: red;
    margin: 0;
}

h2 {
    text-align: center; 

}

h3 {
    margin: 0;
}

body {
    display: grid;
    row-gap: 15px;
}
.grp1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gameCounts {
    text-align: center;
    background-color: green;
}

.word {
    text-align: center;
}

.availLetters {
    text-align: center;
}

.buttons {
    text-align: center;
}
.easyButton {
    background-color: rgb(175, 228, 175);
}

.harderButton {
    background-color: rgb(233, 151, 151);
}

.buttonGrp {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    }

/* .alphabetBtns {
 position: fixed;
right: 500px; 
text-align: left;
display: flex;
width: 20%;
height: auto;
flex-wrap: wrap;
justify-content: space-between;
grid template rows with 6 rows if do 6 rows of buttons
} */
.alphabetBtns {
    display: none;
}
